/*iconfont字体引入*/
@import '~@/assets/stylus/border1px.styl'
@font-face          
    font-family 'iconfont-nav';
    src url('~@/assets/iconfont/iconfont.ttf') format('truetype'), 
        url('~@/assets/iconfont/iconfont.woff') format('woff');
.van-icon
    font-family: 'iconfont-nav'
    display: block
    text-align: center
    margin-bottom: .05rem

.van-icon-movies::before 
    content: '\e679'
.van-icon-theaters::before 
    content: '\e8c7'
.van-icon-profile::before 
    content: '\e60d'
    

.iconfont-nav 
    font-family: "iconfont-nav" !important
    font-size: 16px
    font-style: normal
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

@font-face 
    font-family: "iconfont-star"; /* Project id 2635513 */
    src: url('~@/assets/iconfont/icon-star.woff?t=1624719084496') format('woff'),
        url('~@/assets/iconfont/icon-star.ttf?t=1624719084496') format('truetype');


.iconfont-star 
    font-family: "iconfont-star" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

@font-face 
    font-family: "iconfont-love"; /* Project id 2635513 */
    src: url('~@/assets/iconfont/iconfont-love.ttf') format('truetype')


.iconfont-love 
    font-family: "iconfont-love" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
